<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" internalLogLevel="info" internalLogFile="C:\Masaüstü\Log\MyLogFile.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	
	<targets>
		<!-- write to file -->
		<target xsi:type="File" name="alldata" fileName="C:\Masaüstü\Log\tourniquet-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} 
				${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="alldata" />
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
	</rules>
	
</nlog>