<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="${basedir}/MyLogFile.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- write to file -->
		<target xsi:type="File" name="allData" fileName="C:\Users\serve\source\repos\Log\tourniquet-${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"/>
	</targets>

	<rules>
		<logger name="Tourniquet Trace" minlevel="Trace" writeTo="alldata" />
	</rules>

</nlog>