<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Users\serve\source\repos\Log\MyLog.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" fileName="C:\Users\serve\source\repos\Log\${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
	</rules>
	
</nlog>